@import '@/styles/mixins';

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.title {
    margin-top: 0;
    margin-bottom: 30px;
    color: white;
    font-weight: 500;
    font-size: 32px;
}

.wrapPlayButton {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 32px;
    display: flex;
    justify-content: center;
}
