.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

.gridMobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    margin-top: 0;
    margin-bottom: 30px;
    color: white;
    font-weight: 500;
    font-size: 32px;
}
