@import '../../node_modules/normalize.css';
@import 'mixins';

body {
    min-height: 100vh;
    font-size: 14px;
    background-image: linear-gradient(149deg, rgba(1, 23, 2, 0.9) 0%, #190958 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
