@import '@/styles/mixins';

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 24px;
}

.main {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.logo span {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    font-family: var(--playfair), sans-serif;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
}

.footer {
    margin-top: auto;
    padding: 32px 0;
}

.copyright {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #fafafa;
    font-size: 12px;
}